{% extends "base.html" %}
{% block content %}

<main>
	<div class="page-header">
		<h2>Books</h2>
		<button class="btn-primary" onclick="window.location='/books/add'">Add Book</button>
	</div>
	<table>
		<thead>
			<tr>
				<th style="width: 25%">Title</th>
				<th style="width: 15%">Author</th>
				<th style="width: 10%">ISBN</th>
				<th style="width: 10%">Category</th>
				<th style="width: 5%">Year</th>
				<th style="width: 10%">Publisher</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
			<tr>
			<tr onclick="window.location='/books/{{ book.book_id }}'" style="cursor: pointer;">
				<td>{{ book.title }}</td>
				<td>{{ book.author }}</td>
				<td>{{ book.isbn }}</td>
				<td>{{ book.category }}</td>
				<td>{{ book.year }}</td>
				<td>{{ book.publisher }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</main>

{% endblock %}