{% extends "base.html" %}
{% block content %}

<main>
    <div class="page-header">
        <h2>New Loan</h2>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p class="form-error">{{ messages[0] }}</p>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/loans/create">
        <div class="form-fields">
            <input list="readers-list" name="reader_id" placeholder="Search reader...">
            <datalist id="readers-list">
                {% for reader in readers %}
                <option value="{{ reader['reader_id'] }}">{{ reader['name'] }} — {{ reader['email'] }}</option>
                {% endfor %}
            </datalist>

            <input list="books-list" name="book_id" placeholder="Search book...">
            <datalist id="books-list">
                {% for book in books %}
                <option value="{{ book['book_id'] }}">{{ book['title'] }} - {{ book['author'] }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="form-actions">
            <button class="btn-primary">Create Loan</button>
            <a href="/loans" class="btn-secondary">Cancel</a>
        </div>
    </form>
</main>

{% endblock %}