{% extends "base.html" %}
{% block content %}

<main>
    <div class="page-header">
        <h2>Anonymize Reader</h2>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p class="form-error">{{ messages[0] }}</p>
    {% endif %}
    {% endwith %}
    <div class="par">
        <p>Permanently anonymize reader <strong>{{ reader['name'] }}</strong>?</p>
        <p>All personal data will be anonymized. Action cannot be undone.</p>
    </div>
    <form method="POST">
        <div class="form-actions">
            <button class="btn-primary">Confirm</button>
            <a href="/readers/{{ reader.reader_id }}" class="btn-secondary">Cancel</a>
        </div>
    </form>
</main>

{% endblock %}