{% extends "base.html" %}
{% block content %}

<main>
	<div class="table-section">
		<div class="page-header">
			<h2>Active Loans</h2>
			<button class="btn-primary" onclick="window.location='/loans/create'">Create Loan</button>
		</div>
		<table>
			<thead>
				<tr>
					<th style="width: 5%">Loan ID</th>
					<th style="width: 5%">Reader ID</th>
					<th style="width: 5%">Copy ID</th>
					<th style="width: 25%">Title</th>
					<th style="width: 10%">Loan Date</th>
					<th style="width: 10%">Due Date</th>
					<th style="width: 5%">Status</th>
					<th style="width: 5%"></th>
				</tr>
			</thead>
			<tbody>
				{% for loan in loans %}
				<tr {% if not loan['return_date'] and loan['due_date'] < today %}class="overdue" {% endif %}>
					<td>{{ loan.loan_id }}</td>
					<td>{{ loan.reader_id }}</td>
					<td>{{ loan.copy_id }}</td>
					<td>{{ loan.title }}</td>
					<td>{{ loan.loan_date }}</td>
					<td>{{ loan.due_date }}</td>
					{% if loan['return_date'] %}
					<td>Returned</td>
					{% elif loan['due_date'] < today %} <td>Overdue</td>
						{% else %}
						<td>Active</td>
						{% endif %}
						{% if not loan['return_date'] %}
						<td><a href="/loans/{{ loan['loan_id'] }}/close">Close</a></td>
						{% else %}
						<td>-</td>
						{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>

{% endblock %}